{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="tw-flex tw-space-x-4">
  <div class="sort-inputs">
    {{ form.sort_order }}
  </div>
  <div class="filter-inputs tw-relative tw-inline-block">
    <div class="tw-h-full tw-flex">
      <button class="filter-inputs--toggle tw-text-red-200">
        <span class="tw-sr-only">{{ 'Toggle filters'|t }}</span>
        <svg class="tw-w-6 tw-h-6" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path class="toggle-on tw-hidden" fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd"></path>
          <path class="toggle-off" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z"></path>
        </svg>
      </button>
    </div>
    <div class="filter-inputs--wrapper tw-absolute tw-w-72 tw-mt-2 tw-origin-top-right tw-right-0 tw-shadow-lg tw-invisible tw-opacity-0 tw-transform  tw-z-0 tw-ease-in-out" data-is-open="false">
      <div class="tw-bg-white tw-rounded-sm tw-shadow-xs tw-p-3">
        {{ form|without('sort_order', 'sort_by') }}
      </div>
    </div>
  </div>
</div>
