@import "variables.css";

.tw-bg-black-25 {
  background-color: color(var(--color-black) a(25%));
}
.button {
  @apply cursor-pointer font-bold px-9 py-1.5 border-2 border-transparent rounded-full transition-colors duration-150 ease-in-out;
  &:focus {
     @apply outline-none shadow-outline;
  }
}
.button--primary {
  @apply text-white bg-red-200 border-red-200;
  &:hover {
     @apply bg-gray-500 border-gray-500;
  }
  &:focus {
    @apply border-gray-200;
  }
  &.is-disabled {
    @apply bg-gray-300 border-gray-300;
  }
}
.button--secondary {
  @apply text-red-200 bg-white border-red-200;
  &:hover {
    @apply text-blue-200 border-blue-200;
  }
  &:focus {
    @apply border-blue-100;
  }
  &.is-disabled {
    @apply text-gray-300 bg-gray-100 border-gray-300;
  }
}
