{#
/**
 * @file bibcite-citation.html.twig
 * Default theme implementation to present bibliographic data as citation.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bibcite_citation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bibcite-citation') }}>
  {% if content %}
    {{ content }} {{ oi_content_placeholder }}
  {% endif %}
</div>
