.ois--svg-icon--wrapper [data-popper-arrow="true"] {
  background: inherit;
  width: 8px;
  height: 8px;
  visibility: hidden;
  &::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }
}

.ois--svg-icon--wrapper [data-popper-placement^='top'] > [data-popper-arrow="true"] {
  bottom: -4px;
}

.ois--svg-icon--wrapper [data-popper-placement^='bottom'] > [data-popper-arrow="true"] {
  top: -4px;
}

.ois--svg-icon--wrapper [data-popper-placement^='left'] > [data-popper-arrow="true"] {
  right: -4px;
}

.ois--svg-icon--wrapper [data-popper-placement^='right'] > [data-popper-arrow="true"] {
  left: -4px;
}
