/*.region.region-help {*/
.help-wrapper {
  padding-right: 20px;
  transform: translateX(101%);
  transition: 0.8s ease-in-out;
  &:not(.tw-invisible) {
    transform: translateX(0);
  }
}

@screen sm {
  .help-wrapper {
    padding-right: calc((100vw - 640px) / 2);
  }
}
@screen md {
  .help-wrapper {
    padding-right: calc((100vw - 768px) / 2);
  }
}
@screen lg {
  .help-wrapper {
    padding-right: calc((100vw - 1024px) / 2);
  }
}
@screen xl {
  .help-wrapper {
    padding-right: calc((100vw - 1280px) / 2);
  }
}
