{#
/**
 * @file
 * Theme override for the search form submit button.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<button{{ attributes }}>
  <span class="tw-sr-only">{{ attributes.value }}</span>
  <svg class="tw-text-white tw-h-5 tw-w-5" xmlns="http://www.w3.org/2000/svg">
    <path d="M21 20.3l-6-6c1.2-1.4 2-3.3 2-5.3 0-4.4-3.6-8-8-8S1 4.6 1 9s3.6 8 8 8c2 0 3.9-.8 5.3-2l6 6 .7-.7h0zM2 9c0-3.9 3.1-7 7-7s7 3.1 7 7-3.1 7-7 7-7-3.1-7-7h0z" fill="currentColor" fill-rule="nonzero" stroke="currentColor" stroke-width="2"/>
  </svg>
</button>
{{ children }}
