<a href="#globalnav" class="open icon hide-text" id="ccpOpenPageSlide" style="display:none;">Open global navigation</a>
<div class="mobile-logo-wrapper">
  <a href="#" class="cuplogo icon hide-text">Cambridge University Press</a>
</div>
<ul id="globalnav">
  <li><a href="https://www.cambridge.org" class="hide-text icon">Cambridge University Press</a></li>
  <li>
    <a href="#" class="submenu icon" aria-expanded="false">Academic</a>
    <ul>
      <li><a href="https://www.cambridge.org/core">Cambridge Core <span> (Institutional access)</span></a></li>
      <li><a href="https://www.cambridge.org/academic">Books Catalogue <span>(Individuals)</span></a></li>
    </ul>
  </li>
  <li><a href="https://www.cambridge.org/cambridgeenglish">Cambridge English</a></li>
  <li><a href="https://www.cambridge.org/education">Education</a></li>
  <li><a href="https://www.cambridge.org/bibles">Bibles</a></li>
  <li><a href="https://www.cambridge.org/digital-products">Digital Products</a></li>
  <li>
    <a href="https://www.cambridge.org/about-us" class="submenu icon expanded" aria-expanded="false">About Us</a>
    <ul>
      <li><a href="https://www.cambridge.org/about-us/who-we-are/press-syndicate">Governance</a></li>
      <li class="tablet-only"><a href="https://www.cambridge.org/about-us/careers">Careers</a></li>
      <li><a href="https://www.cambridge.org/about-us/rights-permissions">Rights &amp; Permissions</a></li>
      <li><a href="https://www.cambridge.org/about-us/what-we-do/cambridge-conference-facilities">Conference Venues</a></li>
      <li class="hide-for-mobile"><a href="https://www.cambridge.org/about-us/contact-us/?site=corporate">Contact Us</a></li>
    </ul>
  </li>
  <li class="hide-for-mobile"><a href="https://www.cambridge.org/about-us/careers">Careers</a></li>
  <li class="show-for-mobile"><a href="https://www.cambridge.org/about-us/contact-us/?site=corporate">Contact Us</a></li>
</ul>
