{#
/**
 * @file
 * Cambridge core api instituion logo template file.
 *
 * Available variables:
 * - url: The path/source of the institution image.
 * - alt: Alternative text for the instituion image.
 * - title: The title to put along with the image.
 * - image_prefix: Additional output populated by modules or themes, intended to
 *   be displayed in front of the image tag that appears in the template.
 * - image_suffix: Additional output populated by modules or themes, intended to
 *   be displayed after the image tag that appears in the template.
 * - attributes: More HTML attributes for the image element.
 */
#}
{% block organization_image %}
  {% if url %}
    {{  title }}
    {{ image_prefix }}
    <img src="{{ url }}" alt="{{ alt }}"{{ attributes|without('src', 'alt') }}>
    {{ image_suffix }}
  {% endif %}
{% endblock %}
